﻿@using JoyFactory.Models.DataBase
@using JoyFactory.Models.Enums
@using JoyFactory.Models.ViewModels
@model List<EntertainmentViewModel>
@{
    ViewBag.Title = "Программы, добавки";
}

<h2>Программы, добавки</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="input-group col-md-2">
            <input id="AgeFilter" type="text" class="form-control" placeholder="Возраст именинника" />
        </div>
        <div class="input-group col-md-2">
            <select class="form-control" id="GenderFilter">
                <option value="" selected disabled>Для кого</option>
            </select>
        </div>
        <a href="/Entertainments/Create" class="btn btn-small">Добавить</a>
    </div>
</div>
<div class="panel-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Возраст</th>
                <th>Для кого</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entertainment in Model)
            {
                <tr>
                    <td class="col-md-1">
                        @entertainment.Id
                    </td>
                    <td class="col-md-2">
                        @entertainment.Name
                    </td>
                    <td class="col-md-1">
                        @entertainment.Type
                    </td>
                    <td class="col-md-1">
                        @String.Format("{0} - {1}", entertainment.AgeLow, entertainment.AgeHigh)
                    </td>
                    <td class="col-md-1">
                        @String.Format("Для {0}", (entertainment.Gender == Gender.Male ? "мальчиков" :
                            entertainment.Gender == Gender.Female ? "девочек" : "всех"))
                    </td>
                    <td class="col-md-3">
                        @entertainment.Description
                    </td>                        
                    <td class="col-md-1">
                        <a href="@String.Format("/Entertainments/View/{0}", entertainment.Id)">Просмотр</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>