﻿@using JoyFactory.Models.ViewModels
@using JoyFactory.Models.Enums
@model EntertainmentViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Просмотр</h3>
    </div>

    <div class="panel-body">
        <div class="form-group row">
            <div class="col-md-4"><label>Название</label></div>
            <div class="col-md-6">@Model.Name</div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"><label>Описание</label></div>
            <div class="col-md-6">@Model.Description</div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"><label>Возраст</label></div>
            <div class="col-md-6">@String.Format("{0} - {1}", Model.AgeLow, Model.AgeHigh)</div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"><label>Для кого эта программа</label></div>
            <div class="col-md-6">@String.Format("Для {0}", (Model.Gender == Gender.Male ? "мальчиков" : Model.Gender == Gender.Female ? "девочек" : "всех"))</div>
        </div>
        
        <form action="/Entertainments/Delete" , method="post">
            <a href=@String.Format("/Orders/Order/{0}", Model.Id) class="btn btn-small btn-primary">Заказать</a>
            <a href=@String.Format("/Entertainments/Edit/{0}", Model.Id) class="btn btn-small btn-primary">Редактировать</a>
            @Html.Hidden("Id", Model.Id)
            <button type="submit" class="btn btn-warning">Удалить</button>
            <a href=@String.Format("/Entertainments/List", Model.Id) class="btn btn-small">Вернуться</a>
        </form>
    </div>
</div>