﻿@model Models.SubmitModels.OrderSubmitModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Save", "Orders")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrderSubmitModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        
        <div class="form-group">
            @Html.Label("Дата мероприятия", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Именинник", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeroADay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeroADay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model=>model.CustomerId)
            @Html.Label("Заказчик", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="customerPlaceholder"></div>
                <input id="Customer" value="" class="form-control" />
                <div id="cust_ac_placeholder"></div>
            </div>
        </div>

        <div>
            <div class="col-md-4">
                <label>Состав заказа:</label>
            </div>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <td class="col-md=8">Программа / Добавка</td>
                        <td class="col-md=2">Основнаяя</td>
                        <td class="col-md=2"><a href="#" onclick="addEntertainment();">Добавить</a></td>
                    </tr>
                </thead>
                <tbody id="entHolder"></tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
                <a href=@String.Format("/Orders/List") class="btn btn-small">Вернуться</a>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/Orders/form.js" language="javascript" type="text/javascript"></script>