﻿@model JoyFactory.Models.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование</h2>

@using (Html.BeginForm("Save", "Orders"))
{
    @Html.Hidden("Id", Model.Id)
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Заказ №@Model.Id</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Дата мероприятия", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Именинник", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeroADay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeroADay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Hidden("CustomerId", Model.Customer?.Id??0)
            @Html.Label("Заказчик", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="customerPlaceholder">
                    <label>@(Model.Customer?.FullName??"Не задано")</label>
                </div>
                <input id="Customer" value="" class="form-control" />
                <div id="cust_ac_placeholder"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
                <a href=@String.Format("/Orders/List") class="btn btn-small">Вернуться</a>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/Orders/form.js" language="javascript" type="text/javascript"></script>