﻿@using JoyFactory.Models.DataBase
@using JoyFactory.Models.Enums
@using JoyFactory.Models.ViewModels
@model List<OrderViewModel>
@{
    ViewBag.Title = "Заказы";
}

<h2>Заказы</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="input-group col-md-2">
            <input id="NameSearch" type="text" class="form-control" placeholder="Поиск по имени" />
        </div>
        <div class="input-group col-md-4">
            <input id="PhoneSearch" type="text" class="form-control" placeholder="Поиск по номеру телефона" />
        </div>
        <a href="/Orders/Create" class="btn btn-small">Добавить</a>
    </div>
</div>
<div class="panel-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>№</th>
                <th>Дата заказа</th>
                <th>Менеджер</th>
                <th>Дата проведени</th>
                <th>Именинник</th>                
                <th>Клиент</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td class="col-md-1">
                        @order.Id
                    </td>
                    <td class="col-md-1">
                        @order.OrderDate
                    </td>
                    <td class="col-md-2">
                        @order.Manager
                    </td>
                    <td class="col-md-1">
                        @order.EventDate
                    </td>
                    <td class="col-md-3">
                        @order.HeroADay
                    </td>                    
                    <td class="col-md-3">
                        @(order.Customer?.FullName ?? "Не задано")
                    </td>
                    <td class="col-md-1">
                        <a href="@String.Format("/Orders/View/{0}", order.Id)">Просмотр</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>