﻿@using JoyFactory.Models.ViewModels
@model OrderViewModel

@{
    ViewBag.Title = "Просмотр";
}

<h2>Просмотр</h2>

<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Заказ №@Model.Id</h3>
        </div>

        <div class="panel-body">
            <div class="form-group row">
                <div class="col-md-4"><label>Дата заказа</label></div>
                <div class="col-md-6"><label>@Model.OrderDate.ToString("d")</label></div>
            </div>

            <div class="form-group row">
                <div class="col-md-4"><label>Менеджер</label></div>
                <div class="col-md-6"><label>@Model.Manager</label></div>
            </div>

            <div class="form-group row">
                <div class="col-md-4"><label>Статус</label></div>
                <div class="col-md-6"><label>dummy status</label></div>
            </div>

            <div class="form-group row">
                <div class="col-md-4"><label>Дата праздника</label></div>
                <div class="col-md-6"><label>@Model.EventDate</label></div>
            </div>

            <div class="form-group row">
                <div class="col-md-4"><label>Заказчик</label></div>
                <div class="col-md-6"><label>@(Model.Customer?.FullName ?? "Не задано")</label></div>
            </div>

            <div class="form-group row">
                <div class="col-md-4"><label>Имя именинника</label></div>
                <div class="col-md-6"><label>@Model.HeroADay</label></div>
            </div>

            <div class="form-group row">
                <div class="col-md-4"><label>Основная программа</label></div>
                <div class="col-md-6"><label>dummy main entertainment</label></div>
            </div>

            <div>
                <div class="col-md-4"><label>Состав заказа:</label></div>
                <table class="table">
                    <thead>
                        <th>Начало</th>
                        <th>Конец</th>
                        <th>Услуга</th>
                        <th>Статус</th>
                    </thead>
                    <tbody>
                        @foreach (var timingRecord in Model.Timing)
                        {
                            <tr>
                                <td class="col-md-2">@timingRecord.Starts</td>
                                <td class="col-md-2">@timingRecord.Ends</td>
                                <td class="col-md-4">@String.Format("{0}", timingRecord.Entertainment?.Name ?? String.Empty)</td>
                                <td class="col-md-4">dummy entertainment status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <form action="/Orders/Delete" , method="post">                
                <a href=@String.Format("/Orders/Edit/{0}", Model.Id) class="btn btn-small btn-primary">Редактировать</a>
                @Html.Hidden("Id", Model.Id)
                <button type="submit" class="btn btn-warning">Удалить</button>
                <a href=@String.Format("/Orders/List") class="btn btn-small">Вернуться</a>
            </form>
        </div>
    </div>
</div>