﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/App/static/css/")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/App/static/js/")
</body>
</html>
