﻿<div class="col-lg-12" ng-controller="OrdersListPageController as vm" ng-switch onabort="vm.Data.state.error">
    <div class="jumbotron" ng-switch-when="true">
        <div class="container">
            <h1>Записи отсутствуют</h1>
        </div>
    </div>

    <div id="orders" class="panel panel-default" ng-switch-default>
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Заказ-Заявки</h3>
            <form class="form-inline pull-right" role="form">
                <button class="btn btn-success"
                        type="button"
                        ng-click="vm.Create(row)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </form>            
        </div>

        <div class="panel-body" ng-switch="vm.Data.programs">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Дата праздника</th>
                        <th>Статус</th>
                        <th>Основная программа</th>
                        <th>Менеджер</th>                         
                        <th>Действия</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.Data.orders">
                        <td class="col-md-1">{{row.Id}}</td>
                        <td class="col-md-1">{{row.EventDate}}</td>                        
                        <td class="col-md-1">{{row.Status.Name}}</td>
                        <td class="col-md-5">{{row.MainProgram.Name}}</td>  
                        <td class="col-md-3">{{row.Manager.Name}}</td>                        
                        
                        <td class="col-md-1">
                            <form class="form-inline pull-right" role="form">
                                <button class="btn btn-small btn-primary" type="button" ng-click="vm.View(row)">Просмотр</button>
                            </form>
                        </td>                                              
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>