﻿<div class="col-lg-6"
     ng-controller="OrdersCreatePageController as vm">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Новая заказ-заявка</h3>
        </div>

        <div class="panel-body">

            <form role="form">
                <div class="form-group row">
                    <div class="col-md-4"><label>Event-менеджер</label></div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="vm.CurrentEmployer.Name" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Статус праздника</label></div>
                    <div class="col-md-6">
                        <select class="form-control" ng-model="row.Status" ng-options="status as status.Name for status in vm.OrderStatuses.statuses track by status.Id" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Дата праздника</label></div>
                    <div class="col-md-6"><input type="date" class="form-control" ng-model="vm.Entity.EventDate"></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Имя именинника</label></div>
                    <div class="col-md-6"><input type="text" class="form-control" ng-model="vm.Entity.HeroADay"></div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Начало</th>
                            <th>Конец</th>
                            <th>Услуга</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.Entity.Timing">
                            <td>                              
                                <input type="time" class="form-control" ng-model="row.Starts" />
                            </td>
                            <td>
                                <input type="time" class="form-control" ng-model="row.Ends" />
                            </td>
                            <td>                                
                                <select class="form-control" ng-model="row.Entertainment" ng-options="entertainment as entertainment.Name for entertainment in vm.Entertainments.programs track by entertainment.Id" />
                            </td>
                        </tr>
                    </tbody>
                </table>                
                <button type="button" class="btn btn-default" ng-click="vm.Save()">Сохранить</button>
            </form>
        </div>
    </div>
</div>