﻿<div class="col-lg-6"
     ng-controller="OrdersViewPageController as vm">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Новая заказ-заявка</h3>
        </div>

        <div class="panel-body">

            <form role="form">
                <div class="form-group row">
                    <div class="col-md-4"><label>Дата заказа</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.OrderDate}}</label></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Менеджер</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.Manager.Name}}</label></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Статус</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.Status}}</label></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Дата праздника</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.EventDate}}</label></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Имя именинника</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.HeroADay}}</label></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Основная программа</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.MainProgram.Name}}</label></div>
                </div>

                <div ng-switch="vm.Entity.Timing">
                    <div class="col-md-4"><label>Состав заказа:</label></div>
                    <table class="table">
                        <thead>
                            <th>Начало</th>
                            <th>Конец</th>
                            <th>Услуга</th>
                            <th>Статус</th>
                        </thead>                        
                        <tbody>
                            <tr ng-repeat="row in vm.Entity.Timing">
                                <td class="col-md-2">{{row.Starts}}</td>
                                <td class="col-md-2">{{row.Ends}}</td>
                                <td class="col-md-4">{{row.Entertainment.Name}}</td>
                                <td class="col-md-4">{{row.Status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button type="button" class="btn btn-default" ng-click="vm.Edit(vm.Entity)">Редактировать</button>
                <button type="button" class="btn btn-default" ng-click="vm.Return()">Вернуться</button>
            </form>
        </div>
    </div>
</div>