﻿<div class="col-lg-6"
     ng-controller="OrdersEditPageController as vm">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Новая заказ-заявка</h3>
        </div>

        <div class="panel-body">

            <form role="form">
                <div class="form-group row">
                    <div class="col-md-4"><label>Дата заказа</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.OrderDate}}</label></div>                    
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Менеджер</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.Manager.Name}}</label></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Статус</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.Status}}</label></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Дата праздника</label></div>
                    <div class="col-md-6"><input type="date" class="form-control" ng-model="vm.Entity.EventDate"></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Имя именинника</label></div>
                    <div class="col-md-6"><input type="text" class="form-control" ng-model="vm.Entity.HeroADay"></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"><label>Основная программа</label></div>
                    <div class="col-md-6"><label>{{vm.Entity.MainProgram.Name}}</label></div>
                    <select class="form-control" ng-model="vm.Entity.MainProgram" ng-options="program as program.Name for program in vm.Programs track by program.Id">
                        <option ng-repeat="option in vm.Programs" value="{{option.Id}}">{{option.Name}}</option>
                    </select>
                </div>

                <div ng-switch="vm.Entity.Addons">
                    <div class="col-md-4"><label>Выбранные добавки:</label></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Добавка</td>
                                <td>Статус</td>
                                <td>Менеджер</td>
                                <td>Действия</td>
                            </tr>                            
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in vm.Entity.Addons">                                
                                <td class="col-md-4">
                                    <select class="form-control" ng-model="row.Addon" ng-options="addon as addon.Name for addon in vm.Addons track by addon.Id">
                                        <option ng-repeat="option in vm.Addons" value="{{option.Id}}">{{option.Name}}</option>
                                    </select>
                                </td>
                                <td class="col-md-3">{{row.Status}}</td>
                                <td class="col-md-3">{{row.Manager.Name}}</td>
                                <td class="col-md-2">
                                    <button type="button" class="btn btn-default" ng-click="vm.AddonOrdered(row)">Заказано</button>
                                    <button type="button" class="btn btn-default" ng-click="vm.RemoveAddon($index)">Удалить</button>
                                    <button type="button" class="btn btn-default" ng-click="vm.AddAddon($index)">Добавить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <button type="button" class="btn btn-default" ng-click="vm.Save()">Сохранить</button>
                    <button type="button" class="btn btn-default" ng-click="vm.Return()">Вернуться</button>
                </div>        
            </form>
        </div>
    </div>
</div>