<table>
    <thead>
        <tr>
            <td *ngFor="let column of dataTable.Columns">
                {{column.Caption}}
            </td>            
        </tr>
        <tr *ngFor="let row of dataTable.Rows" (click)="this.rowClicked(row)">
            <td *ngFor="let column of dataTable.Columns">{{column.GetFormattedValue(row[column.ColumnName])}}</td>
        </tr>
    </thead>
</table>