﻿@using JoyFactory.Models.DataBase
@using JoyFactory.Models.Enums
@using JoyFactory.Models.ViewModels
@model List<CustomerViewModel>
@{
    ViewBag.Title = "Клиенты";
}

<h2>Клиенты</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="input-group col-md-2">
            <input id="NameSearch" type="text" class="form-control" placeholder="Поиск по имени" />
        </div>
        <div class="input-group col-md-4">
            <input id="PhoneSearch" type="text" class="form-control" placeholder="Поиск по номеру телефона" />
        </div>
        <a href="/Customers/Create" class="btn btn-small">Добавить</a>
    </div>
</div>
<div class="panel-body">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th></th>     
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td class="col-md-1">
                        @customer.Id
                    </td>
                    <td class="col-md-4">
                        @customer.LastName
                    </td>
                    <td class="col-md-3">
                        @customer.FirstName
                    </td>
                    <td class="col-md-3">
                        @customer.MiddleName
                    </td>                    
                    <td class="col-md-1">
                        <a href="@String.Format("/Customers/View/{0}", customer.Id)">Просмотр</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>