﻿@using JoyFactory.Models.ViewModels
@model CustomerViewModel

@{
    ViewBag.Title = "Просмотр";
}

<h2>Просмотр</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@String.Format("{0} {1} {2}", Model.LastName, Model.FirstName, Model.MiddleName)</h3>
    </div>

    <div class="panel-body">        
        <div class="form-group row">
            <div class="col-md-4"><label>Фамилия</label></div>
            <div class="col-md-6">@Model.LastName</div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"><label>Имя</label></div>
            <div class="col-md-6">@Model.FirstName</div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"><label>Отчество</label></div>
            <div class="col-md-6">@Model.MiddleName</div>
        </div>        

        <form action="/Customers/Delete" , method="post">
            <a href=@String.Format("/Orders/OrderCustomer/{0}", Model.Id) class="btn btn-small btn-primary">Заказать</a>
            <a href=@String.Format("/Customers/Edit/{0}", Model.Id) class="btn btn-small btn-primary">Редактировать</a>
            @Html.Hidden("Id", Model.Id)
            <button type="submit" class="btn btn-warning">Удалить</button>
            <a href=@String.Format("/Customers/List") class="btn btn-small">Вернуться</a>
        </form>
    </div>
</div>