﻿@{
    Layout = "";
}

@using JoyFactory.Models.ViewModels
@model TimingRecordViewModel
<tr>    
    <td class="col-md-8">
        <div id="entPlaceholder">@String.Format("{0}", @Model.Entertainment?.Name ?? String.Empty)</div>
        <input id="Entertainment" value="" class="form-control" />
        <div id="cust_ac_placeholder"></div>
    </td>
    <td class="col=md-2">@Html.CheckBoxFor(model=>model.IsMain, new { @class="entertainment", onclick="selectMainEnt(this);"})</td>
    <td class="col-md-2"><a href="#" onclick="removeEntertainment();">Удалить</a></td>
</tr>