<p-messages class="ui-messages-error" [value]="this.messages"></p-messages>
<div class="container">
    <h1>Заказ №{{this.order.Id}}</h1>
    <form>
        <div class="ui-grid">
            <div class="ui-grid-row">
                <label class="ui-grid-col-2" for="EventDate">Статус заказа</label>                
                <p-dropdown id="OrderStatus" name="OrderStatus" class="ui-grid-col-4" [options]="this.orderStatuses" [style]="{'width':'150px'}" [(ngModel)]="this.order.OrderStatus.Id"></p-dropdown>
            </div>            
            <div class="ui-grid-row">
                <label class="ui-grid-col-2" for="name">Основная программа</label>
                <input class="ui-grid-col-4" type="text" pInputText id="OrderName" required [(ngModel)]="this.order.OrderName" name="OrderName">
            </div>
            <div class="ui-grid-row">
                <label class="ui-grid-col-2" for="EventDate">Дата проведения</label>
                <p-calendar class="ui-grid-col-4" id="EventDate" name="EventDate" [(ngModel)]="this.order.EventDate" dateFormat="dd.mm.yy"></p-calendar>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button pButton type="button" label="Сохранить" (click)="this.Save()"></button>
                <button pButton type="button" label="Вернуться" (click)="this.Return()"></button>
            </div>
        </footer>
    </form>
</div>
