﻿<div class="col-lg-6"
     ng-controller="ProgramsViewPageController as vm">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Просмотр</h3>
        </div>

        <div class="panel-body">

            <form role="form">
                <div class="form-group row">
                    <div class="col-md-4"><label>Название</label></div>
                    <div class="col-md-6">{{vm.Entity.Name}}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"><label>Описание</label></div>
                    <div class="col-md-6">{{vm.Entity.Description}}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"><label>Возраст</label></div>
                    <div class="col-md-6"><ages-pair entity="vm.Entity"></ages-pair></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"><label>Для кого эта программа</label></div>
                    <div class="col-md-6">{{vm.Entity.Gender}}</div>
                </div>

                <button type="button" class="btn btn-small btn-primary" ng-click="vm.Order()">Заказать</button>
                <button type="button" class="btn btn-small btn-primary" ng-click="vm.Edit()">Редактировать</button>
                <button type="button" class="btn btn-small" ng-click="vm.Cancel()">Отмена</button>
            </form>
        </div>
    </div>
</div>