﻿<div class="col-lg-12" ng-controller="ProgramsListPageController as vm" ng-switch onabort="vm.ProgramsData.state.error">
    <div class="jumbotron" ng-switch-when="true">
        <div class="container">
            <h1>Записи отсутствуют</h1>
        </div>
    </div>

    <div id="programs" class="panel panel-default" ng-switch-default>
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Программы</h3>
            <div class="input-group col-md-2">
                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>-->
                <input type="text" class="form-control" placeholder="Возраст именинника" ng-model="vm.ProgramsData.agefilter" ng-change="vm.ProgramsMethods.applyFilter()" ng-model-options="{ debounce: 1000 }"/>
            </div>
            <div class="input-group col-md-2">
                <select class="form-control" id="GenderFilter" ng-model="vm.ProgramsData.genderfilter" ng-change="vm.ProgramsMethods.applyFilter()" ng-model-options="{ debounce: 1000 }">
                    <option value="" selected disabled>Для кого</option>
                    <option ng-repeat="option in vm.GendersData.genders" value="{{option.Id}}">{{option.Name}}</option>
                </select>
            </div>
            <a ng-click="vm.Create()" class="btn btn-small">Добавить</a>
        </div>

        <div class="panel-body" ng-switch="vm.ProgramsData.programs">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Возраст</th>
                        <th>Для кого</th>
                        <th>Описание</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.ProgramsData.programs">
                        <td class="col-md-1">{{row.Id}}</td>
                        <td class="col-md-3">{{row.Name}}</td>                        
                        <td class="col-md-1"><ages-pair entity="row"></ages-pair></td>
                        <td class="col-md-2">{{row.Gender}}</td>
                        <td class="col-md-4">{{row.Description}}</td>
                        <td class="col-md-1">
                            <form class="form-inline pull-right" role="form">
                                <button class="btn btn-small btn-primary" type="button" ng-click="vm.View(row)">Просмотр</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>