﻿<div class="col-lg-6"
     ng-controller="ProgramsEditPageController as vm">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Редактировать</h3>
        </div>

        <div class="panel-body">

            <form role="form">
                <div class="form-group row">
                    <div class="col-md-4"><label>Название</label></div>
                    <div class="col-md-6"><input type="text" class="form-control" ng-model="vm.Entity.Name"></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"><label>Описание</label></div>
                    <div class="col-md-6"><textarea class="form-control" ng-model="vm.Entity.Description" /></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"><label>Возраст от</label></div>
                    <div class="col-md-3"><input type="text" class="form-control" ng-model="vm.Entity.AgeLow"></div>
                    <div class="col-md-2"><label>до</label></div>
                    <div class="col-md-3"><input type="text" class="form-control" ng-model="vm.Entity.AgeHigh"></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"><label>Для кого эта программа</label></div>
                    <select class="form-control" id="Gender" ng-model="vm.Entity.Gender">                        
                        <option ng-repeat="option in vm.GendersData.genders" value="{{option.Id}}">{{option.Name}}</option>
                    </select>
                </div>

                <button type="button" class="btn btn-small btn-primary" ng-click="vm.Save()">Сохранить</button>
                <button type="button" class="btn btn-small" ng-click="vm.Cancel()">Отмена</button>
            </form>
        </div>
    </div>
</div>