﻿<div class="col-lg-6" ng-controller="CustomerStatisticsViewPageController as vm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Статистика</h3>
        </div>

        <div class="panel-body">

            <form role="form">
                <div class="form-group row">
                    <div class="col-md-4"><label>Имя</label></div>
                    <div class="col-md-6">{{vm.Entity.Customer.FirstName}}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"><label>Фамилия</label></div>
                    <div class="col-md-6">{{vm.Entity.Customer.LastName}}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"><label>Телефон</label></div>
                    <div class="col-md-6">{{vm.Entity.Customer.Phone}}</div>
                </div>

                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Программа</th>
                            <th>Оценка</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.Entity.GoodOrders">
                            <td class="col-md-8">{{row.ProgramName}}</td>
                            <td class="col-md-4">{{row.Evaluation}}</td>                            
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Программа</th>
                            <th>Причина отмены</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.Entity.BadOrders">
                            <td class="col-md-8">{{row.ProgramName}}</td>
                            <td class="col-md-4">{{row.CancelReason}}</td>
                        </tr>
                    </tbody>
                </table>

                <!--проведенные программы-->
                <!--программа | оценка-->

                <!--отмененные программы-->
                <!--программа | причина отказа-->

                <!--<button type="button" class="btn btn-small btn-primary" ng-click="vm.Order()">Заказать</button>
                <button type="button" class="btn btn-small btn-primary" ng-click="vm.Edit()">Редактировать</button>-->
                <button type="button" class="btn btn-small" ng-click="vm.Cancel()">Отмена</button>
            </form>
        </div>
    </div>
</div>