﻿<div class="col-lg-12" ng-controller="CustomersListPageController as vm" ng-switch onabort="vm.CustomersData.state.error">
    <div class="jumbotron" ng-switch-when="true">
        <div class="container">
            <h1>Записи отсутствуют</h1>
        </div>
    </div>

    <div id="cients" class="panel panel-default" ng-switch-default>
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Клиенты</h3>
            <!--<div class="input-group col-md-2">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Возраст именинника" ng-model="vm.ProgramsData.agefilter" ng-change="vm.ProgramsMethods.applyFilter()" ng-model-options="{ debounce: 1000 }" />
            </div>-->
            <!--<div class="input-group col-md-2">
                <select class="form-control" id="GenderFilter" ng-model="vm.ProgramsData.genderfilter" ng-change="vm.ProgramsMethods.applyFilter()" ng-model-options="{ debounce: 1000 }">
                    <option value="" selected disabled>Для кого</option>
                    <option ng-repeat="option in vm.GendersData.genders" value="{{option.Id}}">{{option.Name}}</option>
                </select>
            </div>-->
            <!--<a ng-click="vm.Create()" class="btn btn-small">Добавить</a>-->
        </div>

        <div class="panel-body" ng-switch="vm.CustomersData.customers">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Телефон</th>
                        <th>Количество заказов</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.CustomersData.customers">
                        <td class="col-md-1">{{row.Customer.Id}}</td>
                        <td class="col-md-3">{{row.Customer.FirstName}}</td>
                        <td class="col-md-4">{{row.Customer.LastName}}</td>
                        <td class="col-md-3">{{row.Customer.Phone}}</td>
                        <td class="col-md-1">{{row.CustomerOrders.length}}</td>
                        <td class="col-md-1">
                            <form class="form-inline pull-right" role="form">
                                <button class="btn btn-small btn-primary" type="button" ng-click="vm.ShowStatistics(row.Customer.Id)">Статистика</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>