﻿@{
    ViewBag.Title = "JoyFactory";
    Layout = "~/Views/MainLayout.cshtml";
}

<div class="container-fluid">
    <header ng-controller="MenuController as vm">
        <ng-include src="'/App/static/layouts/menu.html'"></ng-include>
    </header>
    <div id="main" ng-view></div>
</div>

