﻿<div class="col-lg-6" ng-controller="TasksViewPageController as vm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Задача</h3>
        </div>

        <div class="panel-body">

            <form role="form">
                <div class="form-group row">
                    <div class="col-md-4"><label>Срок</label></div>
                    <div class="col-md-6">{{vm.Entity.Deadline}}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"><label>Программа</label></div>
                    <div class="col-md-6">{{vm.Entity.RelatedProgram.Name}}</div>
                    <button type="button" class="btn btn-small btn-primary" ng-click="vm.GoToOrder()">Перейти к заявке</button>-->
                </div>
                <div class="form-group row">
                    <div class="col-md-4"><label>Задача</label></div>
                    <div class="col-md-6">{{vm.Entity.Name}}</div>
                </div>                
                
                <!--проведенные программы-->
                <!--программа | оценка-->
                <!--отмененные программы-->
                <!--программа | причина отказа-->
                <!--<button type="button" class="btn btn-small btn-primary" ng-click="vm.Order()">Заказать</button>-->
                <button type="button" class="btn btn-small btn-primary" ng-click="vm.Edit()">Завершить</button>
                <button type="button" class="btn btn-small" ng-click="vm.Cancel()">Отмена</button>
            </form>
        </div>
    </div>
</div>