﻿<div class="col-lg-12" ng-controller="TasksListPageController as vm" ng-switch onabort="vm.TasksData.state.error">
    <div class="jumbotron" ng-switch-when="true">
        <div class="container">
            <h1>Записи отсутствуют</h1>
        </div>
    </div>

    <div id="cients" class="panel panel-default" ng-switch-default>
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Задачи менеджера</h3>            
        </div>

        <div class="panel-body" ng-switch="vm.TasksData.tasks">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Задача</th>
                        <th>Программа</th>
                        <th>Срок</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.TasksData.tasks">
                        <td class="col-md-1">{{row.Id}}</td>
                        <td class="col-md-3">{{row.Name}}</td>
                        <td class="col-md-4">{{row.RelatedProgram.Name}}</td>
                        <td class="col-md-3">{{row.Deadline}}</td>
                        <td class="col-md-1">
                            <form class="form-inline pull-right" role="form">
                                <button class="btn btn-small btn-primary" type="button" ng-click="vm.View()">Просмотр</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>