﻿<div class="bs-masthead">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a id="jf" class="navbar-brand" href="#">Joy Factory</a>
        <ul class="nav navbar-nav">
            <li class="{{link.active && 'active' || ''}}" ng-repeat="link in vm.MenuLinks">
                <a href="{{link.path}}" title="{{link.text}}" ng-class="link.active ? 'active' : ''">{{link.text}}</a>
            </li>
        </ul>
    </div>
</div>