﻿<div class="col-lg-12" ng-controller="AddonsListPageController as vm" ng-switch onabort="vm.Data.state.error">
    <div class="jumbotron" ng-switch-when="true">
        <div class="container">
            <h1>Записи отсутствуют</h1>
        </div>
    </div>

    <div id="addons" class="panel panel-default" ng-switch-default>
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Добавки</h3>            
            <a ng-click="Create()" class="btn btn-small">Добавить</a>
        </div>

        <div class="panel-body" ng-switch="vm.Data.addons">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.Data.addons">
                        <td class="col-md-1">{{row.Id}}</td>
                        <td class="col-md-3">{{row.Name}}</td>
                        <td class="col-md-4">{{row.Description}}</td>
                        <td class="col-md-1">
                            <form class="form-inline pull-right" role="form">
                                <button class="btn btn-small btn-primary" type="button" ng-click="vm.View(row)">Просмотр</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>